%h1
  = @post.title
.text
  = @post.text
%p
  Commetns
  .commetns
    - @post.comments.each do |comment|
      %h4= comment.user.username
      %p
        = comment.text
    - if user_signed_in?
      %p
        = form_for [@post, @post.comments.build], url: post_comments_url(@post.id) do |f|
          = f.label     :text
          = f.text_area :text
          %br/
          = f.submit
